.catalog-item__name {
  font-family: $font-primary;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.catalog-item__text {
  font-size: 13px;
  line-height: 30px;
  color: #444;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
