.featured__title {
    font-family: $font-primary;
    font-size: 25px;
    color: #000;
  }

.featured__week-product {
    font-family: $font-primary;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }

.featured__text {
    line-height: 24px;
  }

.featured__table {
    line-height: 24px;
  }

.featured__price {
    font-size: 17px;
    font-weight: bold;
    color: #444;
    line-height: 24px;
  }
