.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__change-size {
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.modal__label-radio {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.modal__btn {
  font-family: $font-primary;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  background-color: #63d1bb;
}
