.about-us {
  margin-bottom: 60px;
}

.about-us__wrapper {
  @include container();
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  @include font(25px, 30px);
  color: $text-color;
  margin: 0;
  margin-bottom: 87px;
}

.about-us__list {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__item {
  @include font(17px, 18px);
  margin-bottom: 86px;
  position: relative;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

@media #{$tablet-widths} {

  .about-us {
    margin-bottom: 50px;
  }

  .about-us__wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }

  .about-us__title {
    @include font(43px, 50px);
    margin-bottom: 105px;
  }

  .about-us__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;

  }

  .about-us__item {
    @include font(20px, 22px);
    margin-bottom: 110px;
    flex-basis: 50%;

    &--ecology {
      order: 1;
    }

    &--knitting {
      order: 2;
    }

    &--style {
      order: 3;
    }

    &--rocket {
      order: 4;
    }

    &--likes {
      order: 5;
    }

    &--present {
      order: 6;
    }

    &--ecology,
    &--style,
    &--likes {
      flex-basis: 36%;
      margin-right: 12%;
    }

    &--knitting,
    &--rocket,
    &--present {
      flex-basis: 44%;
      margin-right: 6%;
    }
  }
}

@media #{$desktop-widths} {

  .about-us__wrapper {
    width: 700px;
    margin: 0 auto;
  }

  .about-us__title {
    @include font(53px, 57px);
    margin-bottom: 105px;
  }
}
