.catalog-item {
  border: 1px solid $border-color;
  margin-bottom: 30px;
}

.catalog-item__link {
  display: block;
}

.catalog-item__img {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0 5px 5px 0 #cecece;
}

.catalog-item__name {
  font-family: $font-primary;
  @include font(17px, 24px);
  font-weight: bold;
  text-decoration: none;
  color: $text-color;
}

.catalog-item__text {
  display: block;
  @include font(13px, 30px);
  color: $btn-color;
}

.catalog-item__price {
  @include font(15px, 24px);
  font-weight: bold;
}

.catalog-item__description {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 28px;
}

.catalog-item__top {
  padding-bottom: 22px;
}

.catalog-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  border-top: 1px solid $border-color;
}

@media #{$tablet-widths} {

  .catalog-item__description {
    width: 50%;
  }

  .catalog-item {
    display: flex;
    margin-bottom: 53px;
  }

  .catalog-item__top {
    padding-bottom: 0;
  }

  .catalog-item__link {
    width: 50%;
    height: 330px;

    & img {
      width: 334px;
      height: 332px;
    }
  }

  .catalog-item__name {
    @include font(20px, 24px);
    display: block;
    margin-bottom: 5px;
  }

  .catalog-item__text {
    @include font(15px, 30px);
  }

  .catalog-item__bottom {
    margin-top: auto;
  }

  .catalog-item__price {
    @include font(17px, 24px);
  }
}

@media #{$desktop-widths} {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 314px;
    margin-right: 50px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog-item__description {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
  }

  .catalog-item__link {
    width: 100%;
    height: 465px;
  }

  .catalog-item__link img {
    width: 100%;
    height: 465px;
  }
}
