.catalog__wrapper {
  @include container();
  padding-left: 30px;
  padding-right: 30px;
}




@media #{$tablet-widths} {
  
}



@media #{$desktop-widths} {
  .catalog__wrapper {
    display: flex;
  }
}
