.catalog__wrapper {
  @include container();
  padding-left: 30px;
  padding-right: 30px;
}




@media #{$tablet-widths} {
  .catalog__wrapper {
    padding: 0 50px;
  }
}



@media #{$desktop-widths} {
  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
