.categories {
  background-color: $primary-color;
  margin-bottom: 33px;
}

.categories__link {
  position: relative;
  display: block;
  font-family: $font-primary;
  @include font(19px, 24px);
  font-weight: bold;
  color: $text-color--light;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 150px;

  &--interior::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 36px;
    width: 42px;
    height: 64px;
    background-image: url(../img/icon-interior.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--toys::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 26px;
    width: 64px;
    height: 64px;
    background-image: url(../img/icon-toy.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--toys {
    background-color: $secondary-color;
  }
}

@media #{$tablet-widths} {

  .categories {
    display: flex;
    justify-content: space-between;
    width: 670px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .categories__link {
    flex-basis: 50%;
  }
}

@media #{$desktop-widths} {

  .categories {
    position: relative;
    @include container();
    margin-bottom: 0;
    margin-bottom: 60px;
    z-index: 10;
  }
}
