.contacts__wrapper {
  @include container();
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 35px;
}

.contacts__title {
  @include font(18px, 30px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
}

.contacts__link {
  color: $text-color;
  text-decoration: none;
  border-bottom: 1px solid $primary-color;
  padding-bottom: 5px;
  margin-left: 30px;
}

.contacts__link:hover {
  color: $primary-color;
}

.contacts__link:active {
  opacity: 0.3;
}

.contacts__text {
  vertical-align: top;
  line-height: 30px;
  margin-left: 30px;
}

.contacts__map {
  position: relative;
  margin-bottom: 40px;

   & iframe {
    width: 100%;
    border: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    top: 170px;
    left: 123px;
    background-image: url(../img/icon-map-pin.svg);
    background-repeat: no-repeat;
  }
}

.contacts__map-img {

  display: block;
}

.contacts__btn {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media #{$tablet-widths} {

  .contacts {
    position: relative;


  }

  .contacts__wrapper {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 24px;
  }

  .contacts__title {
    @include font(43px, 50px);
    margin-bottom: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: 3px;
      width: 47px;
      height: 81px;
      background-image: url(../img/icon-flag.svg);
      background-repeat: no-repeat;

    }
  }

  .contacts__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .contacts__item {
    margin-right: 38px;
  }

  .contacts__label,
  .contacts__link,
  .contacts__text {
    @include font(17px, 30px);
  }

  .contacts__link {
    padding-bottom: 0;
  }

  .contacts__text {
    width: auto;
  }

  .contacts__btn {
    width: 226px;
    margin-bottom: 60px;
  }

  .contacts__map {
    margin-bottom: 50px;

    &::before {
      top: 164px;
      left: 348px;
    }
  }
}

@media #{$desktop-widths} {

  .contacts {
    @include container();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 45px;

    
  }

  .contacts__wrapper {
    flex-basis: 50%;
    margin: 0;
    padding-left: 174px;
    padding-right: 0;
    box-sizing: border-box;
    margin-top: 70px;
  }

  .contacts__title {
    @include font(53px, 57px);

    &::after {
      top: -9px;
      left: -111px;
    }
  }

  .contacts__inner {
    flex-direction: column;
  }

  .contacts__map {
    flex-basis: 50%;
    margin-bottom: 0;

    &::before {
      left: 237px;
    }
  }

  .contacts__btn {
    margin-left: 175px;
    margin-top: -52px;
  }
}
