.main-title {
  @include font(27px, 30px);
  margin: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  margin: 0 auto;
  text-align: center;

  &--index {
    max-width: 260px;
  }
}

@media #{$tablet-widths} {

  .main-title {
    @include font(43px, 50px);
    max-width: 510px;
    padding-top: 55px;

    &--index {
      max-width: 668px;
      padding-top: 115px;
    }
  }
}

@media #{$desktop-widths} {

  .main-title {
    @include font(53px, 57px);
    width: 625px;
    padding-bottom: 115px;

    &--index {
      padding-top: 115px;
    }
  }
}
