.main-title {
  line-height: 30px;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;

}

@media #{$tablet-widths} {
  .main-title {
    padding-bottom: 370px;
    padding-top: 160px;
  }
}

@media #{$desktop-widths} {

  .main-title {
    @include font(53px, 57px);
  }
}
