.modal {
  display: none;
}

.modal__title {
  @include font(25px, 30px);
}

.modal__change-size {
  @include font(15px, 30px);
  font-weight: normal;
}

.modal__label-radio {
  @include font(17px, 20px);
  font-weight: bold;
  text-transform: uppercase;
}

.modal__btn {
  font-family: $font-primary;
  @include font(17px, 20px);
  font-weight: bold;
  color: $text-color--light;
  background-color: $primary-color;
}
