.page-footer {
  background-color: $bg-color;
}

.page-footer__logo {
  width: 104px;
  height: 36px;
}

.page-footer__logo:hover {

  .icon--logo-footer {
    fill: $primary-color;
  }
}

.page-footer__logo:active {

  .icon--logo-footer {
    opacity: 0.3;
  }
}

@media #{$mobile-widths-only} {

  .page-footer__logo {
    display: none;
  }
}


@media #{$tablet-widths} {

  .page-footer__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    padding: 35px 50px;
    align-items: center;

  }

  .page-footer__logo {
    margin: 0;
    padding: 0;
    margin-right: 69px;
  }
}

@media #{$desktop-widths} {
  .page-footer__wrapper {
    margin-bottom: 0;
  }

  .page-footer__logo {
    margin-right: 33px;
    padding-top: 20px;
  }
}
