.promo {
  background-color: $bg-color;
  margin-bottom: 30px;

  &--index {
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    min-height: 280px;
  }
}

.promo-text {
  @include container();
  @include font(13px, 24px);
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 30px;
  color: $btn-color;
}

.promo__note {
  display: none;
}

@media #{$tablet-widths} {

  .promo {
    margin-bottom: 85px;
  }

  .promo--index {
    background-size: cover;
    width: 100%;
    min-height: 750px;
  }

  .promo__note {
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 0;
    padding-left: 490px;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .promo-text {
    width: 700px;
  }
}

@media #{$desktop-widths} {

  .promo {
    margin-bottom: 115px;
  }
  .promo--index {
    background-image: url("../img/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .promo__note {
    max-width: 1200px;
    padding-left: 965px;
    box-sizing: border-box;
  }

}
