.reviews {
  margin-bottom: 87px;
  padding-left: 0 30px;
}

.reviews__wrapper {
  @include container();

}

.reviews__slides {
  margin-bottom: 30px;
}

.reviews__title {
  @include font(25px, 30px);
  font-weight: bold;
  margin: 0;
  margin-bottom: 25px;
}

.reviews__item {
  margin: 0;
}

.reviews__item:not(:first-child) {
  display: none;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.reviews__author {
  line-height: 24px;
  font-style: normal;
}

.reviews__author-name {
  @include font(17px, 24px);
  display: inline-block;
  margin-bottom: 5px;
}

.reviews__author-tag {
  @include font(17px, 30px);
}

.reviews__controls {
  font-size: 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid #ebebeb;
  margin-bottom: 38px;
}

.reviews__controls-link {
  margin: 0;
  padding: 12px 0;
  width: 128px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;

  &--prev {
    background-image: url(../img/icon-left-arrow.svg);
    background-position: 50%;
    border: 0;
    border-right: 1px solid #ebebeb;
  }

  &--next {
    background-image: url(../img/icon-right-arrow.svg);
    border: 0;
  }
}

.reviews__controls-link:hover {
  opacity: 0.6;
}

.reviews__controls-link:active {
  opacity: 0.3;
}

.reviews__btn {
  @include font(18px, 22px);
}

@media #{$tablet-widths} {
  .reviews {
    position: relative;
    margin-bottom: 160px;
    padding: 0 50px;


    &::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 450px;
      top: -75px;
      left: 0;
      background-image: url(../img/review@1x.jpg);
      background-repeat: no-repeat;
      z-index: -1;

      @media retina {
        background-image: url(../img/review@2x.jpg);
      }
    }

  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .reviews__title {
    @include font(43px, 50px);
    margin: 0;
    margin-bottom: 50px;
  }

  .reviews__btn {
    order: 1;
    width: 172px;
    margin-left: auto;
    padding: 13px 0;
  }

  .reviews__slides {
    order: 2;
  }

  .reviews__text {
    @include font(17px, 30px);
    margin-bottom: 55px;
  }

  .reviews__author-name {
    @include font(18px, 24px);
    display: block;
  }

  .reviews__author-tag {
    @include font(17px, 30px);
  }

  .reviews__controls {
    width: 175px;
    order: 3;
    margin-left: auto;
    border: 0;
    margin-top: -85px;
  }

  .reviews__controls-link {
    width: 60px;

    &--prev {
      border-right: 0;
    }
  }
}

@media #{$desktop-widths} {
  .reviews {
    @include container();
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 220px;

    &::before {
      left: 50px;
    }
  }

  .reviews__controls {
    margin-top: -30px;
  }

  .reviews__wrapper {
    width: 100%;
    max-width: 1050px;
    padding-left: 170px;
    box-sizing: border-box;
  }

  .reviews__title {
    @include font(53px, 57px);
  }

  .reviews__text {
    padding-right: 100px;
    margin-bottom: 40px;
  }

  .reviews__author-name {
    @include font(17px, 24px);
    margin-bottom: 0;
  }

  .reviews__btn {
    margin-top: 10px;
  }

  .reviews__controls {
    margin-top: -80px;
  }
}
