.social-link {
  font-size: 0;

  &--inst {

    width: 25px;
    height: 25px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
  }

  &--fb {
    width: 20px;
    height: 30px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
  }

  &--tw {
    width: 24px;
    height: 21px;
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
  }
}
