.social-link {
  font-size: 0;

  &--insta {
    width: 27px;
    height: 27px;
  }

  &--fb {
    width: 22px;
    height: 32px;
  }

  &--twitter {
    width: 26px;
    height: 28px;
  }
}

.social-link:hover {
  .icon {
    fill: $primary-color;
  }
}

.social-link:active {
  .icon {
    opacity: 0.3;
  }
}
