.social-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 180px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}

@media #{$tablet-widths} {
  .social-links{

  }
}
